<!DOCTYPE root[<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>
<!ELEMENT Projectrequirement ANY>
<!ATTLIST Projectrequirement id ID #REQUIRED>
 
<!ELEMENT ArticleItem ANY>
<!ATTLIST ArticleItem id ID #REQUIRED>
<!ELEMENT ArticlesMain ANY>
<!ATTLIST ArticlesMain id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT ProjectItem ANY>
<!ATTLIST ProjectItem id ID #REQUIRED>
<!ELEMENT Projectrequirements ANY>
<!ATTLIST Projectrequirements id ID #REQUIRED>
<!ELEMENT ProjectsMain ANY>
<!ATTLIST ProjectsMain id ID #REQUIRED>

]>
<root id="-1">
  <Master id="1064" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-15T15:34:37" updateDate="2015-04-15T15:34:37" nodeName="Developer Coop Site" urlName="developer-coop-site" path="-1,1064" isDoc="" nodeType="1051" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1050" nodeTypeAlias="Master">
    <metadescription><![CDATA[Here is the metadescription.]]></metadescription>
    <metakeywords><![CDATA[Metakeyword 01
Metakeyword 02
Metakeyword 03]]></metakeywords>
    <HomePage id="1073" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2015-04-15T15:45:05" updateDate="2015-04-15T15:45:05" nodeName="Home Page" urlName="home-page" path="-1,1064,1073" isDoc="" nodeType="1061" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1060" nodeTypeAlias="HomePage">
      <headline><![CDATA[Welcome to the Home Page]]></headline>
      <content><![CDATA[<p><span>Bacon ipsum dolor amet bresaola landjaeger tongue, meatloaf jowl cow beef ribs short loin bacon venison flank sausage strip steak. Corned beef ground round flank strip steak, pork belly beef pastrami. Hamburger pork loin cupim tongue, bacon pork chop brisket tail corned beef ribeye tri-tip. Pork belly venison tri-tip tail pastrami bacon swine turkey alcatra meatloaf drumstick cow pork leberkas pork chop.</span></p>]]></content>
      <ArticlesMain id="1074" parentID="1073" level="3" creatorID="0" sortOrder="0" createDate="2015-04-15T15:47:39" updateDate="2015-04-15T15:47:39" nodeName="All the articles" urlName="all-the-articles" path="-1,1064,1073,1074" isDoc="" nodeType="1072" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1071" nodeTypeAlias="ArticlesMain">
        <headline><![CDATA[List of all the articles]]></headline>
        <content><![CDATA[<p>Here you will find all the articles.</p>]]></content>
        <ArticleItem id="1081" parentID="1074" level="4" creatorID="0" sortOrder="0" createDate="2015-04-15T15:52:56" updateDate="2015-04-15T15:52:56" nodeName="Article #01" urlName="article-01" path="-1,1064,1073,1074,1081" isDoc="" nodeType="1078" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1077" nodeTypeAlias="ArticleItem">
          <headline><![CDATA[Smartphones kan lede efter kosmisk stråling]]></headline>
          <content><![CDATA[<p>Partikelfysik er normalt ikke det man forbinder med en smartphone, men med en ny app, der fortsat er i beta-stadiet, så er det muligt at indgå i et netværk, til detektering af stråling fra rummet.</p>
<p>Ved at udnytte CMOS-sensoren, der sidder i alle smartphones bag kameralinsen, så er det muligt at detektere resultatet af højenergi-stråling, der rammer Jordens atmosfære.</p>
<p>Idéen er udtænkt af en gruppe af astrofysikere fra University of California, der gerne vil registrere de kraftigste partikler, der rammer Jorden. For at kunne gøre dette, er det nødvendigt med et meget stort netværk af detektorer, og det er her smartphone-app'en kommer ind.</p>
<p>Projektet går under navnet CRAYFIS (Cosmic RAYs Found In Smartphones) og har allerede fået en række betatestere. Ønsker man at bidrage til forsøget, så kan det gøres på projektets <a href="http://crayfis.io/">hjemmeside</a>. Her kan man også <a href="http://crayfis.io/map">se</a>, at der fra Danmark har været leveret 13 timers eksponering.</p>]]></content>
        </ArticleItem>
        <ArticleItem id="1082" parentID="1074" level="4" creatorID="0" sortOrder="1" createDate="2015-04-15T15:53:50" updateDate="2015-04-15T15:54:00" nodeName="Article #02" urlName="article-02" path="-1,1064,1073,1074,1082" isDoc="" nodeType="1078" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1077" nodeTypeAlias="ArticleItem">
          <headline><![CDATA[Næste Windowsopdatering efter Windows 10 bliver Redstone]]></headline>
          <content><![CDATA[<p>Windows 10 er sat til at komme til sommer, hvorfor funktionaliteten nu er blevet låst fast og der primært arbejdes på at rette fejl inden udgivelsen. Funktioner der ikke nåede at komme med i denne omgang, bliver udskudt til næste opdatering, der i følge flere kilder, har kodenavnet Redstone.</p>
<p>Navnet Redstone stammer fra det populære Minecraft, et spil Microsoft købte i forbindelse med overtagelsen af firmaet Mojang sidste år. Microsoft bruger allerede navne fra spil til andre produkter, hvor navnene til den personlige assistent Cortana, og Microsoft's nye browser Spartan kommer fra Halo.</p>
<p>Microsoft har før udtalt, at de med Windows 10 vil komme med hyppigere opdateringer til operativsystemet. Redstone <a href="http://www.neowin.net/news/windows-redstone-will-come-in-two-waves-june-and-october-2016">forventes at komme</a> i to tempi, med en første frigivelse i juni 2016 og en lidt senere i oktober samme år.</p>]]></content>
        </ArticleItem>
      </ArticlesMain>
      <ProjectsMain id="1076" parentID="1073" level="3" creatorID="0" sortOrder="1" createDate="2015-04-15T15:49:22" updateDate="2015-04-15T15:49:47" nodeName="All the projects" urlName="all-the-projects" path="-1,1064,1073,1076" isDoc="" nodeType="1075" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1071" nodeTypeAlias="ProjectsMain">
        <headline><![CDATA[List of all the projects]]></headline>
        <content><![CDATA[<p>Here you will find a list of all the projects.</p>]]></content>
        <ProjectItem id="1083" parentID="1076" level="4" creatorID="0" sortOrder="0" createDate="2015-04-15T15:56:04" updateDate="2015-04-15T16:40:02" nodeName="Project #01" urlName="project-01" path="-1,1064,1073,1076,1083" isDoc="" nodeType="1080" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1079" nodeTypeAlias="ProjectItem">
          <headline><![CDATA[Katapult til vandballoner]]></headline>
          <content><![CDATA[<p>Hvem har ikke haft lyst til at tæppebombe alle gæsterne på stranden med vandballoner ?</p>
<p>Ja jeg tænkte det nok. Med dette projekt er det nu muligt at føre våd krigsførsel fra klitterne.</p>]]></content>
          <projectRequirements><![CDATA[1090,1091]]></projectRequirements>
        </ProjectItem>
        <ProjectItem id="1085" parentID="1076" level="4" creatorID="0" sortOrder="1" createDate="2015-04-15T16:16:03" updateDate="2015-04-15T16:44:55" nodeName="Project #02" urlName="project-02" path="-1,1064,1073,1076,1085" isDoc="" nodeType="1080" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1079" nodeTypeAlias="ProjectItem">
          <headline><![CDATA[Project #02]]></headline>
          <content><![CDATA[<p>"Byg din egen helikopter"-kit.</p>
<p> </p>]]></content>
          <projectRequirements><![CDATA[1090]]></projectRequirements>
        </ProjectItem>
      </ProjectsMain>
      <TextPage id="1098" parentID="1073" level="3" creatorID="0" sortOrder="2" createDate="2015-04-16T07:37:51" updateDate="2015-04-16T07:37:51" nodeName="Members" urlName="members" path="-1,1064,1073,1098" isDoc="" nodeType="1097" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1096" nodeTypeAlias="TextPage" />
      <TextPage id="1099" parentID="1073" level="3" creatorID="0" sortOrder="3" createDate="2015-04-16T07:38:11" updateDate="2015-04-16T07:38:42" nodeName="Contact" urlName="contact" path="-1,1064,1073,1099" isDoc="" nodeType="1097" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="1096" nodeTypeAlias="TextPage">
        <headline><![CDATA[Contact Us]]></headline>
        <content><![CDATA[<p>You can contact us by using the form below.</p>]]></content>
      </TextPage>
    </HomePage>
  </Master>
  <Projectrequirements id="1087" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-04-15T16:24:54" updateDate="2015-04-15T16:25:00" nodeName="Project requirements" urlName="project-requirements" path="-1,1087" isDoc="" nodeType="1086" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Projectrequirements">
    <Projectrequirement id="1091" parentID="1087" level="2" creatorID="0" sortOrder="0" createDate="2015-04-15T16:34:37" updateDate="2015-04-15T16:45:44" nodeName="CSS" urlName="css" path="-1,1087,1091" isDoc="" nodeType="1088" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Projectrequirement">
      <requirementDesc><![CDATA[Cascading Style Sheets]]></requirementDesc>
    </Projectrequirement>
    <Projectrequirement id="1093" parentID="1087" level="2" creatorID="0" sortOrder="1" createDate="2015-04-15T16:46:35" updateDate="2015-04-15T16:47:41" nodeName="HTML" urlName="html" path="-1,1087,1093" isDoc="" nodeType="1088" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Projectrequirement">
      <requirementDesc><![CDATA[HyperText Markup Language]]></requirementDesc>
    </Projectrequirement>
    <Projectrequirement id="1089" parentID="1087" level="2" creatorID="0" sortOrder="2" createDate="2015-04-15T16:33:34" updateDate="2015-04-15T16:47:41" nodeName="JS" urlName="js" path="-1,1087,1089" isDoc="" nodeType="1088" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Projectrequirement">
      <requirementDesc><![CDATA[JavaScript]]></requirementDesc>
    </Projectrequirement>
    <Projectrequirement id="1090" parentID="1087" level="2" creatorID="0" sortOrder="3" createDate="2015-04-15T16:34:18" updateDate="2015-04-15T16:47:41" nodeName="PHP" urlName="php" path="-1,1087,1090" isDoc="" nodeType="1088" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Projectrequirement">
      <requirementDesc><![CDATA[PHP: Hypertext Preprocessor]]></requirementDesc>
    </Projectrequirement>
    <Projectrequirement id="1094" parentID="1087" level="2" creatorID="0" sortOrder="4" createDate="2015-04-15T16:46:51" updateDate="2015-04-15T16:46:51" nodeName="XML" urlName="xml" path="-1,1087,1094" isDoc="" nodeType="1088" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Projectrequirement">
      <requirementDesc><![CDATA[eXtensible Markup Language]]></requirementDesc>
    </Projectrequirement>
    <Projectrequirement id="1095" parentID="1087" level="2" creatorID="0" sortOrder="5" createDate="2015-04-15T16:47:18" updateDate="2015-04-15T16:47:21" nodeName="XSLT" urlName="xslt" path="-1,1087,1095" isDoc="" nodeType="1088" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Projectrequirement">
      <requirementDesc><![CDATA[Extensible Stylesheet Language Transformations]]></requirementDesc>
    </Projectrequirement>
  </Projectrequirements>
</root>