<!DOCTYPE root[<!ELEMENT Testdoctype ANY>
<!ATTLIST Testdoctype id ID #REQUIRED>
 

]>
<root id="-1">
  <Testdoctype id="1051" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-12T15:24:09" updateDate="2015-04-12T15:24:23" nodeName="tester slettes senere" urlName="tester-slettes-senere" path="-1,1051" isDoc="" nodeType="1050" creatorName="Brian Andersen" writerName="Brian Andersen" writerID="0" template="0" nodeTypeAlias="Testdoctype" />
</root>